$color-background: #fcfcfc;
$color-primary: rgb(137, 201, 184);
$color-accent: #c7e2b2;
$color-accent-2: #eafadd;
$color-accent-3: #ec3939;

$color-white: #fafafa;
$color-black: #252525;

$shadow: 0 0.7rem 1rem rgba($color-black, .2);